{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft.AspNetCore": "Information",
        "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
      }
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=webscrape;Username=webscrape;Password=CHANGE_ME"
  }
}
